doctype html
html
  head
    title our dance acedamy
    block scripts
    block style
body
    nav#navbar 
       ul 
          div#logo 
             img(src="/static/logo2.webp")
             |HDA
          li #[a(href="/") Home ]
          li #[a(href="/") About us]
          li #[a(href="/") services]
          li #[a(href="/") class info]
          li #[a(href="/") contact us ]
    block content
    footer#footer 
         | copyright © our dance acedamic.com  | Alright Reserved ! 